
* {
    margin: 0;
    padding: 0;
    
}

html {
    background: url(/assets/background.jpg) no-repeat fixed;
    background-size: 100%;
    background-position-y: 25%;
    margin: 5px;
    padding: 20px 70px;
    
}

header .bolsa {
    width: 50px;

}

 .nav1 .bolsa {
    width: 25px;
    
}

.nav1 .linha {
    width: 25px;
    transform: rotateZ(180deg);
}



.btn-shop { 
    background: url(/assets/blacksquare_89177.svg);
     
}

 .btn-redes-sociais .instagram {
     width: 50px;
 }




